<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shs.app">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShsThesis"
        tools:targetApi="31">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.shs.app.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
    </provider>


    <activity
            android:name=".Activity.Admin.checkList.pE_checklist"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.checkList.mil_checkList"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.checkList.research_project_checklist"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.checkList.pr2_checklist"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.checkList.general_chemistry_checklist"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.checkList.general_physics2_checklist"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Admin.Adminsettings.checklist"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.Admin.Adminsettings.AboutUs"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.Milscores.milscore_2"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.Milscores.milscore_1"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.Quiz.Mil_quizActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.MIL.Mil_update_choice"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.MIL.Mil_fill_update"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.MIL.Mil_choice"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.MIL.Mil_fill"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.MIL.Mil_quiz"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.Research_project_score.Research_project_score2"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.Research_project_score.Research_project_score1"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.Quiz.Research_project_quizType"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.Reseach_project.R_project_choice_update"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.Reseach_project.R_project_fill_update"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.Reseach_project.R_project_multiple"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.Reseach_project.R_projectFill"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.Reseach_project.Research_project_quiz"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.pr2_score.pr2_score2"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.pr2_score.pr2_score1"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.Quiz.practicalResearch2_quiz"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.practicalResearch2.pr2Update_choice"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.practicalResearch2.pr2Update_fill"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.practicalResearch2.pr2Multiple"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.practicalResearch2.pr2Fill"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.practicalResearch2.pr2Quiz"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.generalChemistryScores.generalchemistry_score2"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.generalChemistryScores.generalchemistry_score1"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.Quiz.generalchemistry2_quiz"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.generalChemistryQuiz.generalchemistry2_choiceupdate"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.generalChemistryQuiz.generalchemistry2_choiceadd"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.generalChemistryQuiz.generalchemistry2_addfill"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.generalChemistryQuiz.generalchemistry2_fill"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.generalChemistryQuiz.generalchemistry2_quiz"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.archiving.archive"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.PeScores.Pescore2"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.PeScores.PEscore1"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.Quiz.PEquiz"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.PE.pe_multiple_update"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.PE.pe_multiple"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.PE.peUpdateFill"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.PE.peFillIntheblanks"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.PE.pe_fill"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.quiz_scores.Gen2.Gen_Physics2_scores2"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.quiz_scores.Gen2.Gen_Physics2_scores1"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.Quiz.Gen_Physics2"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.QuizSubjects.GenPhysics.generalphysics_multiple_update"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.QuizSubjects.GenPhysics.generalphysics_fill"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.QuizSubjects.GenPhysics.generalphysics_multiple"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.QuizSubjects.GenPhysics.generalphysics_fill_update"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.QuizSubjects.GenPhysics.quiz_general_physics"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.QuizCount.QuizSubjects"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.quizManager.PE.p_eSubject"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Activity.Admin.Uploadtask.PhysicalEducationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.Uploadtask.MILActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.Uploadtask.ResearchProjectActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.Uploadtask.PracticalResearchActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.Uploadtask.GeneralChemistryActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.Uploadtask.GeneralPhysicsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.assestment_activity2"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.commentStuddents"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.Adminsettings.adminComment"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.Adminsettings.addtastk"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.Adminsettings.assestment_activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.Adminsettings.Studentinfo"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.Adminsettings.profile_update2"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.Adminsettings.AdminRegister"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.profile"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.profile_update"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.header"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.signup"
            android:exported="false" />
        <activity
            android:name=".Activity.Student.StudentSettings.Student"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.Adminsettings.Admin"
            android:exported="false" />
        <activity
            android:name=".Activity.login.login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.TTS_SERVICE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>